<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ETEMDataModelEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HV-DEV-SERVER;initial catalog=ETEM_DB;persist security info=True;user id=sa;password=1234567;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UMS_LOGEntities" connectionString="metadata=res://*/Models.LogModel.UMS_LOG.csdl|res://*/Models.LogModel.UMS_LOG.ssdl|res://*/Models.LogModel.UMS_LOG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HV-DEV-SERVER;initial catalog=UMS_LOG;persist security info=True;user id=sa;password=1234567;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<log4net>
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\ETEM\\log\\ETEM.txt"/>
      <param name="AppendToFile" value="true"/>
      <maximumFileSize value="100KB"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    --><!-- levels: DEBUG, INFO, WARN, ERROR, FATAL --><!--
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="GeneralLog"/>
    </root>
  </log4net>-->
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="1000000" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
    <add key="SessionTimeOut" value="20"/>
  </appSettings>

  <system.web>

   <!-- <authentication mode="Forms">
      <forms loginUrl="~/Share/Login.aspx"  slidingExpiration="true" name="adAuthCookie" timeout="1" path="/">
      </forms>
    </authentication>-->
    <customErrors mode="Off"></customErrors>
    <!-- levels: May need to be removed,added due to week schedule errors -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="ETEM.Services.Common.Common" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="binding0" contract="ETEM.Services.Common.Common"
                  behaviorConfiguration="ETEM.Services.Common.CommonAspNetAjaxBehavior" />
        <!--<endpoint address="" binding="webHttpBinding" bindingConfiguration="binding1" contract="ETEM.Services.Common.Common"
                          behaviorConfiguration="ETEM.Services.Common.CommonAspNetAjaxBehavior" />        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ETEM.Services.Common.CommonAspNetAjaxBehavior">
          <enableWebScript />
          <webHttp defaultBodyStyle="WrappedRequest"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
     <bindings>
      <basicHttpBinding>        
        <binding name="https"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="binding0" />
        <binding name="binding1">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>